wandb
scikit-learn
# pandas
# pycodestyle
dotmap
# line-profiler
tqdm
pytorch-lightning
patool
wget
# scikit-optimize
xgboost
catboost
transformers
# pytorch-tabnet # screwing up the install of pytorch==2.0.0
numba
# ogb
# memory-profiler
seaborn
tensorboardX
tensorboard
fairseq
# tabnet
# lightgbm
# jupyterlab
# notebook
# matplotlib
# qhoptim
# gpytorch